  <h1>User info</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th></th>
      </tr>
    </tbody>
  </table>

  <h1>New book</h1>
  <div class="title">
    <h3>Title</h3>
  </div>
  <div cllass="opinion">
    <h3>Opinion</h3>
  <br>
  create.book ボタン
  </div>
  <h1>Books</h1>
  <table class="books_table">
      <tr>
        <th colspan="2">Title</th>
        <th>Opinion</th>
      </tr>

      <tr>
        <td>プロフィールイメージ</td>
        <td>< image ></td>
        <td>< name ></td>
      </tr>
  </table>
