<body>
  <header>
    <span>Bookers</span>
    " Homes "
    " Users "
    " Books "
    " Log out "
  </header>
  "welcome! You have singned up successfully.
  <h2>User info</h2>
  <tr>
  <th>name</th>
  <th>hiro</th>
  </tr>
  <tr>
    <th>introduction</th>
  </tr>
  <th></th>
  <h2>New book</h2>
  "Title"
  "Opinion"
  <h2>Books</h2>
  <th>Title</th>
  <th>Opinion</th>
</body
<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>